pkgbase = salus-bin
	pkgdesc = Local secret store guarded by Shamir secret shares and AES-256-GCM encryption (daemon + client + login agent, pre-compiled MUSL static binaries)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/rustyhorde/salus
	install = salusd.install
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	provides = salus
	conflicts = salus
	source = https://github.com/rustyhorde/salus/releases/download/v0.1.0/dist-salus.tar.gz
	sha256sums = e0ec4e939607554a8637bcb0599131c0f30e1410330ad23b7eb9bc51e2593d5a
	source_x86_64 = salusd-x86_64::https://github.com/rustyhorde/salus/releases/download/v0.1.0/salusd-x86_64-unknown-linux-musl
	source_x86_64 = salusc-x86_64::https://github.com/rustyhorde/salus/releases/download/v0.1.0/salusc-x86_64-unknown-linux-musl
	source_x86_64 = salus-agent-x86_64::https://github.com/rustyhorde/salus/releases/download/v0.1.0/salus-agent-x86_64-unknown-linux-musl
	sha256sums_x86_64 = b2a5f9476a9a10655184f2b8f5c48af958bf50225f16d52eb1debca49ad234ff
	sha256sums_x86_64 = 4f4f1d885f6394983417fcb641cc69a03a62b99b0e7b67362adf89d5576ee5ee
	sha256sums_x86_64 = e4c02f2c41c65f2e272922ed883c14476b76c15ff0312123d6b0b6d4da24a220
	source_aarch64 = salusd-aarch64::https://github.com/rustyhorde/salus/releases/download/v0.1.0/salusd-aarch64-unknown-linux-musl
	source_aarch64 = salusc-aarch64::https://github.com/rustyhorde/salus/releases/download/v0.1.0/salusc-aarch64-unknown-linux-musl
	source_aarch64 = salus-agent-aarch64::https://github.com/rustyhorde/salus/releases/download/v0.1.0/salus-agent-aarch64-unknown-linux-musl
	sha256sums_aarch64 = 2d103cff5b6a46d0078f35c60d252e61c99722feb64336286947f765ec3a703f
	sha256sums_aarch64 = b2f15316e0dd3c674df65b25bc48927d53b48bca092374367a78853be928e75a
	sha256sums_aarch64 = a5b7e15d2ab4ce467dfaeebc8f9d42b96fab766b2411e1b228b7189b9ddb88cf

pkgname = salus-bin
